@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
   --dark-blue:#1d1e35;
   --soft-red:hsl(14, 88%, 65%);
   --soft-voilet: #af67e9;
   --soft-blue: #6565e7;
   --question-text:hsl(237, 12%, 33%);
   --answer-text: hsl(240, 6%, 50%);
   --divider-color:hsl(240, 5%, 91%);
}

*{
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(101,101,231);
    background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

section{
    max-width: 300px;
    width: 300px;
    background-color: #fafafa;
    height: 70vh;
    margin-top: 20%;
    border-radius: 20px;
}

.image-section{
    position: relative;
    width: 100%;
}

.mobile-women
{
    position: absolute;
    width: 90%;
    top: -110px;
    margin: 0 auto;
}
.mobile-background
{
    position: relative;
    display: block;
    margin: auto;  
    width: 90%;
}
.desktop-background {
    display: none;
}

.desktop-women
{
    display: none;
}

.desktop-box
{
    display: none;
}

article{
    display: block;
    position: relative;
    margin: 10px 25px;
    height: 100%;
}

article h1 {
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    font-size: 1.7rem;
    color: var(--dark-blue);
}

.sub-faq{
    text-align: start;
    display: block;
}

hr{
    margin: 12px auto;
    background-color: var(--divider-color);
    opacity: 0.5;
    border-width: 0;
    height: 2px;
}

.question{
    font-size: 10.5px;
    color: var(--question-text);
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.svg-arrow{
    transform: rotate(0deg);
}

.svg-active {
    transform: rotate(180deg);
}

.answer{
    font-size: 10.5px;
    width: 90%;
    color: var(--answer-text);
    margin-top: 12px;
    line-height: 1.5;
    display: none;
}

.answer-active{
    display: block;
}

.question-active {
    font-size: 10.5px;
    color: var(--question-text);
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

@media (min-width:1024px)
{
    section{
        position: relative;
        max-width: 1000px;
        width: 900px;
        background-color: #fafafa;
        margin:auto;
        border-radius: 20px;
        display: flex;
        height: auto;
    }

    article{
        height: 100%;
    }
    
    .image-section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: #fafafa;
        border-radius: 20px;
    }
    
    .wrapper{
       position: relative;
       height: 100%;
       width: 100%;
       overflow: hidden;
    }

    .mobile-women
    {
        display: none;
    }
    .mobile-background
    {
        
        display: none;
    }
    .desktop-background {
        position: absolute;
        display: flex; 
        width: 150%;
        height: 150%; 
        left: -280px;
        top: -150px;
    }
    
    .desktop-women
    {
        position: relative;
        display: block;
        margin: 10% auto;
        left: -80px;
        
    }
    .desktop-box
    {
        position: absolute;
        top: 10px;  
        display: block;
        left: -95px;            
        top: 180px;
    }
    
/* article section  */

article{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: 6rem;
    margin-top: 2em;
}
article h1 {
    font-weight: 700;
    text-align: start;
    padding: 20px 0;
    font-size: 2rem;
    color: var(--dark-blue);
}
hr{
    margin: 15px auto;
    background-color: var(--divider-color);
    opacity: 0.5;
    border-width: 0;
    height: 1px;
}

.question{
    font-size: 14px;
    color: var(--question-text);
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.answer{
    font-size: 14px;
    width: 90%;
    color: var(--answer-text);
    margin-top: 12px;
    line-height: 1.7;
    display: none;
}

.answer-active{
    display: block;
}

.question-active {
    font-size: 14px;
    color: var(--question-text);
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
}