@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --main-background:hsl(185, 75%, 39%);
    --dark-blue:hsl(229, 23%, 23%);
    --dark-gray: hsl(227, 10%, 46%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.background-theme{
   position: absolute;
}

.background-theme img:nth-of-type(1)
{
    position: fixed;
    width: 110%;
    right: 60vw;
    bottom: 300px;
}

.background-theme img:nth-of-type(2)
{
    position: fixed;
    top: 150px;
}

section{
    position: absolute;
    ;
    display: block;
    text-align: center;
    width: 300px;
    margin: auto;
    align-self: center;
    background-color: #faf9f9;
    border-radius: 15px;
    overflow: hidden;
}

.image-section{
    width: 300px;
    height: 70px;
}

.image-section img{
    width: 100%;
}

.profile-pic{
    margin-bottom: 1.5em;
}

.profile-pic img{
   border: 5px solid #faf9f9;
   border-radius: 50%;
}

hr{
    background-color:var(--grayish-blue);
    opacity: 0.2;
    border-width: 0.01px;
    margin: 25px auto;
}

.stats{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 30px;
    margin-top:30px;
    width: 85%;
}

/* element styling */
.profile-names h1{
    color: var(--dark-blue);
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 15px;
}
.number26{
    color:var(--dark-gray);
    font-weight: 500;  
}

.profile-names p{
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 0.9rem;
}

.inside-stat h2{
    font-size: 1.1rem;
    color: var(--dark-blue);
    padding-bottom: 10px;
}

.inside-stat p{
    font-size: 0.62rem;
    color: var(--dark-gray);
    opacity: 0.8;
    letter-spacing: 1px;
}

@media (min-width:1150px)
{
    section{
        position: absolute;
        ;
        display: block;
        text-align: center;
        width: 400px;
        margin: auto;
        align-self: center;
        background-color: #faf9f9;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .image-section{
        width: 400px;
        height: 110px;
    }
    
}
